
@font-face {
  font-family: "antra-icon";
  src: url("../../../fonts/icons/antra-icon-1.0.10.eot");
  src: url("../../../fonts/icons/antra-icon-1.0.10.eot?#iefix") format("eot"), url("../../../fonts/icons/antra-icon-1.0.10.woff2") format("woff2"), url("../../../fonts/icons/antra-icon-1.0.10.woff") format("woff"), url("../../../fonts/icons/antra-icon-1.0.10.ttf") format("truetype"), url("../../../fonts/icons/antra-icon-1.0.10.svg#antra-icon-1.0.10") format("svg");
}
[class*=antra-icon-] {
  font-family: "antra-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
}

.antra-icon-360-view:before {
  content: "";
}

.antra-icon-antra:before {
  content: "";
}

.antra-icon-architectural:before {
  content: "";
}

.antra-icon-ask:before {
  content: "";
}

.antra-icon-before-after:before {
  content: "";
}

.antra-icon-blueprint:before {
  content: "";
}

.antra-icon-breadcrumb:before {
  content: "";
}

.antra-icon-bullet-list-line:before {
  content: "";
}

.antra-icon-calendar:before {
  content: "";
}

.antra-icon-check:before {
  content: "";
}

.antra-icon-clapperboard:before {
  content: "";
}

.antra-icon-clock:before {
  content: "";
}

.antra-icon-consulting:before {
  content: "";
}

.antra-icon-dot:before {
  content: "";
}

.antra-icon-download-file:before {
  content: "";
}

.antra-icon-email:before {
  content: "";
}

.antra-icon-filters:before {
  content: "";
}

.antra-icon-galleries:before {
  content: "";
}

.antra-icon-help:before {
  content: "";
}

.antra-icon-house:before {
  content: "";
}

.antra-icon-information1:before {
  content: "";
}

.antra-icon-interior:before {
  content: "";
}

.antra-icon-list-2:before {
  content: "";
}

.antra-icon-list-ul:before {
  content: "";
}

.antra-icon-management:before {
  content: "";
}

.antra-icon-map-line:before {
  content: "";
}

.antra-icon-map-pin:before {
  content: "";
}

.antra-icon-menu-bar:before {
  content: "";
}

.antra-icon-menu-fly-close:before {
  content: "";
}

.antra-icon-menu-fly:before {
  content: "";
}

.antra-icon-movies:before {
  content: "";
}

.antra-icon-phone:before {
  content: "";
}

.antra-icon-photo:before {
  content: "";
}

.antra-icon-play-fill:before {
  content: "";
}

.antra-icon-play:before {
  content: "";
}

.antra-icon-plus2:before {
  content: "";
}

.antra-icon-quote1:before {
  content: "";
}

.antra-icon-receipt:before {
  content: "";
}

.antra-icon-reply-line:before {
  content: "";
}

.antra-icon-setting:before {
  content: "";
}

.antra-icon-share-all:before {
  content: "";
}

.antra-icon-shopping-bag:before {
  content: "";
}

.antra-icon-shoppingcart-o:before {
  content: "";
}

.antra-icon-sliders-v:before {
  content: "";
}

.antra-icon-spaceop:before {
  content: "";
}

.antra-icon-tags:before {
  content: "";
}

.antra-icon-th-large-o:before {
  content: "";
}

.antra-icon-time-line:before {
  content: "";
}

.antra-icon-two-line:before {
  content: "";
}

.antra-icon-user1:before {
  content: "";
}

.antra-icon-view-line-2:before {
  content: "";
}

.antra-icon-360:before {
  content: "";
}

.antra-icon-Clip-path-group:before {
  content: "";
}

.antra-icon-Online_Support:before {
  content: "";
}

.antra-icon-arrow-down:before {
  content: "";
}

.antra-icon-arrow-left:before {
  content: "";
}

.antra-icon-arrow-right:before {
  content: "";
}

.antra-icon-arrow-up:before {
  content: "";
}

.antra-icon-bars:before {
  content: "";
}

.antra-icon-bullet-list-line2:before {
  content: "";
}

.antra-icon-camrera-1:before {
  content: "";
}

.antra-icon-caret-down:before {
  content: "";
}

.antra-icon-caret-left:before {
  content: "";
}

.antra-icon-caret-right:before {
  content: "";
}

.antra-icon-caret-up:before {
  content: "";
}

.antra-icon-cart-1:before {
  content: "";
}

.antra-icon-cart-empty:before {
  content: "";
}

.antra-icon-cart:before {
  content: "";
}

.antra-icon-check-mark:before {
  content: "";
}

.antra-icon-check-square:before {
  content: "";
}

.antra-icon-chevron-down:before {
  content: "";
}

.antra-icon-chevron-left:before {
  content: "";
}

.antra-icon-chevron-right:before {
  content: "";
}

.antra-icon-chevron-up:before {
  content: "";
}

.antra-icon-circle:before {
  content: "";
}

.antra-icon-cloud-download-alt:before {
  content: "";
}

.antra-icon-comment:before {
  content: "";
}

.antra-icon-comments:before {
  content: "";
}

.antra-icon-compare:before {
  content: "";
}

.antra-icon-credit-card:before {
  content: "";
}

.antra-icon-delivery-truck:before {
  content: "";
}

.antra-icon-dot-circle:before {
  content: "";
}

.antra-icon-edit:before {
  content: "";
}

.antra-icon-envelope:before {
  content: "";
}

.antra-icon-expand-alt:before {
  content: "";
}

.antra-icon-external-link-alt:before {
  content: "";
}

.antra-icon-file-alt:before {
  content: "";
}

.antra-icon-file-archive:before {
  content: "";
}

.antra-icon-filter:before {
  content: "";
}

.antra-icon-fire1:before {
  content: "";
}

.antra-icon-folder-open:before {
  content: "";
}

.antra-icon-folder:before {
  content: "";
}

.antra-icon-frown:before {
  content: "";
}

.antra-icon-gift:before {
  content: "";
}

.antra-icon-grid-view-line:before {
  content: "";
}

.antra-icon-grip-horizontal:before {
  content: "";
}

.antra-icon-heart-fill:before {
  content: "";
}

.antra-icon-heart:before {
  content: "";
}

.antra-icon-history:before {
  content: "";
}

.antra-icon-home:before {
  content: "";
}

.antra-icon-info-circle:before {
  content: "";
}

.antra-icon-instagram:before {
  content: "";
}

.antra-icon-level-up-alt:before {
  content: "";
}

.antra-icon-list:before {
  content: "";
}

.antra-icon-mail:before {
  content: "";
}

.antra-icon-map-marker-check:before {
  content: "";
}

.antra-icon-meh:before {
  content: "";
}

.antra-icon-menu-down:before {
  content: "";
}

.antra-icon-menu:before {
  content: "";
}

.antra-icon-minus-circle:before {
  content: "";
}

.antra-icon-minus:before {
  content: "";
}

.antra-icon-mobile-android-alt:before {
  content: "";
}

.antra-icon-money-bill:before {
  content: "";
}

.antra-icon-money:before {
  content: "";
}

.antra-icon-paper-plane:before {
  content: "";
}

.antra-icon-pencil-alt:before {
  content: "";
}

.antra-icon-plus-circle:before {
  content: "";
}

.antra-icon-plus:before {
  content: "";
}

.antra-icon-quickview:before {
  content: "";
}

.antra-icon-random:before {
  content: "";
}

.antra-icon-rating-stroke:before {
  content: "";
}

.antra-icon-rating:before {
  content: "";
}

.antra-icon-repeat:before {
  content: "";
}

.antra-icon-reply-all:before {
  content: "";
}

.antra-icon-reply:before {
  content: "";
}

.antra-icon-search-plus:before {
  content: "";
}

.antra-icon-search:before {
  content: "";
}

.antra-icon-shield-check:before {
  content: "";
}

.antra-icon-shopping-basket:before {
  content: "";
}

.antra-icon-shopping-cart:before {
  content: "";
}

.antra-icon-sign-out-alt:before {
  content: "";
}

.antra-icon-smile:before {
  content: "";
}

.antra-icon-spinner:before {
  content: "";
}

.antra-icon-square:before {
  content: "";
}

.antra-icon-star:before {
  content: "";
}

.antra-icon-store:before {
  content: "";
}

.antra-icon-sync:before {
  content: "";
}

.antra-icon-sync_alt:before {
  content: "";
}

.antra-icon-tachometer-alt:before {
  content: "";
}

.antra-icon-th-large:before {
  content: "";
}

.antra-icon-th-list:before {
  content: "";
}

.antra-icon-thumbtack:before {
  content: "";
}

.antra-icon-ticket:before {
  content: "";
}

.antra-icon-times-circle:before {
  content: "";
}

.antra-icon-times:before {
  content: "";
}

.antra-icon-trophy-alt:before {
  content: "";
}

.antra-icon-truck:before {
  content: "";
}

.antra-icon-user-headset:before {
  content: "";
}

.antra-icon-user-shield:before {
  content: "";
}

.antra-icon-user:before {
  content: "";
}

.antra-icon-video:before {
  content: "";
}

.antra-icon-wishlist-empty:before {
  content: "";
}

.antra-icon-wishlist:before {
  content: "";
}

.antra-icon-adobe:before {
  content: "";
}

.antra-icon-amazon:before {
  content: "";
}

.antra-icon-android:before {
  content: "";
}

.antra-icon-angular:before {
  content: "";
}

.antra-icon-apper:before {
  content: "";
}

.antra-icon-apple:before {
  content: "";
}

.antra-icon-atlassian:before {
  content: "";
}

.antra-icon-behance:before {
  content: "";
}

.antra-icon-bitbucket:before {
  content: "";
}

.antra-icon-bitcoin:before {
  content: "";
}

.antra-icon-bity:before {
  content: "";
}

.antra-icon-bluetooth:before {
  content: "";
}

.antra-icon-btc:before {
  content: "";
}

.antra-icon-centos:before {
  content: "";
}

.antra-icon-chrome:before {
  content: "";
}

.antra-icon-codepen:before {
  content: "";
}

.antra-icon-cpanel:before {
  content: "";
}

.antra-icon-discord:before {
  content: "";
}

.antra-icon-dochub:before {
  content: "";
}

.antra-icon-docker:before {
  content: "";
}

.antra-icon-dribbble:before {
  content: "";
}

.antra-icon-dropbox:before {
  content: "";
}

.antra-icon-drupal:before {
  content: "";
}

.antra-icon-ebay:before {
  content: "";
}

.antra-icon-facebook-f:before {
  content: "";
}

.antra-icon-facebook-o:before {
  content: "";
}

.antra-icon-facebook:before {
  content: "";
}

.antra-icon-figma:before {
  content: "";
}

.antra-icon-firefox:before {
  content: "";
}

.antra-icon-google-plus:before {
  content: "";
}

.antra-icon-google:before {
  content: "";
}

.antra-icon-grunt:before {
  content: "";
}

.antra-icon-gulp:before {
  content: "";
}

.antra-icon-html5:before {
  content: "";
}

.antra-icon-instagram-o:before {
  content: "";
}

.antra-icon-joomla:before {
  content: "";
}

.antra-icon-link-brand:before {
  content: "";
}

.antra-icon-linkedin-in:before {
  content: "";
}

.antra-icon-linkedin:before {
  content: "";
}

.antra-icon-mailchimp:before {
  content: "";
}

.antra-icon-opencart:before {
  content: "";
}

.antra-icon-paypal:before {
  content: "";
}

.antra-icon-pinterest-p:before {
  content: "";
}

.antra-icon-reddit:before {
  content: "";
}

.antra-icon-skype:before {
  content: "";
}

.antra-icon-slack:before {
  content: "";
}

.antra-icon-snapchat:before {
  content: "";
}

.antra-icon-spotify:before {
  content: "";
}

.antra-icon-trello:before {
  content: "";
}

.antra-icon-twitter:before {
  content: "";
}

.antra-icon-vimeo:before {
  content: "";
}

.antra-icon-whatsapp:before {
  content: "";
}

.antra-icon-wordpress:before {
  content: "";
}

.antra-icon-yoast:before {
  content: "";
}

.antra-icon-youtube:before {
  content: "";
}

